

<mat-card class="card-profile" *ngIf="data">
    <h3 class="title">Git Profile</h3>
    <div class="flex-between">
                <div class="left">
                    <div class="display">
                    <img class="img-profile" src="{{data.avatar_url}}"><br>
                    </div>
                    <div class="display">
                        <button class="button-submit" (click)="onClick()" mat-button >My Repository</button><br>
                    </div>
                    <div class="display">
                        <button class="button-submit" [routerLink]="['/signin']" mat-button >Back</button><br>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li>Name : {{data.name}}</li>
                        <li>Blog : {{data.blog}}</li>
                        <li>Location: {{data.location}}</li>
                        <li>Blog : {{data.followers}}</li>
                        <li>Location: {{data.following}}</li>
                        <li>Created at: {{data.created_at}}</li>
                      </ul>
                </div>
    </div>
   

  </mat-card>
  
  <!-- <ng-template #error>
    <app-error-notfound></app-error-notfound>
  </ng-template> -->